@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto&display=swap');

*{
    margin :0;
    padding: 0;
    text-decoration: none;
}
 
html, body{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
.cabecalho {
    display: flex; /* para colocar o logo e a lista um do lado do outro */
    justify-content: space-around; /* faz com que o espaço ao redor seja a metade do espaço entre eles */
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #464141;
    height: 8vh;
}

.conteudo {
    background: radial-gradient(131.28% 259.62% at 66.28% 50%, #855252 0%, rgba(30, 29, 29, 0.96072) 47.98%, rgba(34, 32, 32, 0.93188) 68.67%, rgba(41, 37, 37, 0.878837) 88.37%, rgba(50, 47, 47, 0) 100%);
    background-size: cover; /* Usado para caso a resolução do monitor for maior que a da imagem imagem */
    height: 84vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 2vh;
    color: #BDBDBD;
    justify-items: center;
    place-items: center;
    grid-template-areas:
        "texto1 imagem imagem"
        "texto2 imagem imagem"
    ;
}

.cabecalho-menu {
    list-style: none;
    display: flex;
}

.cabecalho-menu-item {
    letter-spacing: 3px;
    margin-left: 32px;
    color: #BDBDBD;
    font-size: 15px;
    cursor: pointer;
}

.cabecalho-menu-item:hover {
    color: #F3ECEC;
    transition-duration: 0.4s;
}

.cabecalho-titulo {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 72px;
    text-transform: capitalize;
    color: #BC4747;
}

.menu-mobile {
    cursor: pointer;
    display:none; /* Para só aparecer em telas menores */
}


.menu-mobile div {
    width: 32px;
    height: 2px;
    background: #BDBDBD;
    margin: 8px;
    transition: 0.3s;
    }

    .menu-mobile:hover div {
        background: #F3ECEC;
        transition-duration: 0.4s;
    }

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
      position:relative; /* Parece ter resolvido o problema do overflow */
    }

    .conteudo {
        background-size: cover; /* Usado para caso a resolução do monitor for maior que a da imagem imagem */
        height: 84vh;
        width: 100%;
        place-items: center;
        display: grid;
        grid-template-areas:
       "texto1 texto1"
       "texto2 texto2"
       "imagem imagem"
        ;
    }
    .cabecalho-menu {
        position: absolute; /* posicionar navegação onde quiser */
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 84vh;
        background: #464141;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); /* Navegação foi para fora da borda */
        transition: transform 0.3s ease-in;
    }

    .cabecalho-menu-item {
        margin-left: 0;
        opacity: 0;      
        font-size: 10px;  
    }

   
    .menu-mobile {
        display: block;
    }


    .cabecalho-menu.active {
        transform: translateX(0);
    }

     .conteudo-direita {
      height: 30vh;
    }

    .conteudo-esquerda-cima {
        text-align: center !important;
    }
    
    .cabecalho-titulo {
        height: 6vh;
        font-size: 36px;
        line-height: 72px;
    }

    .rodape-texto {
        height: 6vh;
        font-size: 36px !important;
        line-height: 72px;
    }
            

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-mobile.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .line2 {
    opacity: 0;
}

.menu-mobile.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.rodape {
    background: #464141;
    height: 8vh;
}
.rodape-texto {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 72px;
    text-transform: capitalize;
    color: #BC4747;
    text-align: center;
}
    
.conteudo-esquerda-cima {
    grid-area: texto1;
    text-align: left;

}

.conteudo-esquerda-baixo {
    grid-area: texto2;

}

.conteudo-direita {
    grid-area: imagem;

}
